.nav{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 19px 19px;
    text-align: center;
}
.BH{
    display: flex;
    background-color: #ffd600;
    
}

    
.BH h3{
    color:white;
    margin-right:25%;
    padding-left: 14px;
    
}
#cata{
    background-color: rgb(226, 220, 220);
    border-radius: 5px;
    padding: 10px;
    margin-left: -350%;
    margin-top: 16px;
    border: transparent;
    


}
#inp{
    border-radius: 5px;
    background-color: white;
    color: gainsboro;
    margin: 15px;
    height: 40px;
    width: 250px;
    margin-left: -100% ; 
    border: transparent;

}
.icons{
    margin-left: 30%;
    margin-top: 20px;
    
}
.icons i{
    padding: 10px;
    color: white;
}
#ht{
    margin: 10px;
}
#cart{
    margin: 10px;
}
#use{
    float: right;
    margin: 10px;
}

#info{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
    margin-left: 50px;
}

.form{
    display: flex;
    margin-left: 42px;
}
.form input{
    padding: 9px;
    width: 270px;
    border:solid thin gainsboro;
    border-radius: 5px;
    color: aqua;
    background-color: white;
}
.double{
    padding: 20px;
}
.double2{
    padding: 20px;
}

#inst{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color:#252525
}
#PA{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#free{
    
}

.product{
    border:  solid thin gainsboro;
    padding:20px;
    border-radius: 20px;
    margin-bottom: 170px;
    margin-right: 50px;
    
}
.promo{
    padding: 9px;
    width: 270px;
    border:solid thin gainsboro;
    border-radius: 5px;
    background-color: white; 
    margin-top:  15px;
}
.save70{
    padding: 9px;
    width: 270px;
    border:solid thin aqua;
    border-radius: 5px;
    color: aqua;
    background-color: white;
    
}
.order{
    padding: 9px;
    width: 270px;
    margin-top: 15px;
    color: white;
    background-color: #ffd600;
    border: transparent;
    border-radius: 5px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
#pick{
    /* padding: 10px; */
    color: #E70062;
    /* border-radius: 10px ; */
    /* background-color: #E70062; */
    }
    #nov{
    color: red;
    }
    #map{
    color: #ffd600;
    }

.method{
    margin-top: -19%;
    margin-left: 50px;
}
.method h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;  
}
.method i{
    font-size: 20px;
    color: gainsboro;
}
.method p{
    font-family: Arial, Helvetica, sans-serif;
}
#yel{
    color: #ffd600;
}

.payment{
    margin-top: 5%;
    margin-left: 50px;
    
}
.payment h3{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: #252525;
}
.payment i{
    font-size: 20px;
    color: gainsboro;
}
#AP{
 color: black;
}
#GP{
color: #e70000;
}

@media only screen and(max-width:700px) {
    body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    }
   
    }
    /* Mobile Responsive CSS */
    @media only screen and (max-width: 767px) {
        .nav {
        flex-direction: column;
        margin-left: 0;
        background-color: whitesmoke;
        }
        .nav li {
        padding: 10px;
        }
        .BH h3 {
        margin-right: 0;
        }
        #cata {
        margin-left: 14px;
        }
        #inp {
        margin-left: 50px;
        }
        .icons {
        margin-left: -5px;
        display: grid;
        } 
          
        #inp{
            width: 75px;
            padding-left: -60px;
        }
        .flex{
           display: grid;
        }
        .method{
            margin-left: 0;   
        }
        .method p{
           font-size: 80%; 
        }
        .payment{
            margin-left: 0;
            
        }
        .form{
            margin-left: 0;
            display: grid;
        }
        

        }
       
        /* Tablet Responsive CSS */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
        .nav li {
        padding: 12px;
        }
        .BH{
            width: 130%
        }
        .SW{
            width: 130%;
        }
        .BH h3 {
        margin-right: 15%;
        }
        #cata {
        margin-left: -200%;
        }
        #inp {
        margin-left: -100%;
        }
        .icons {
        margin-left: 15%;
        }
    
        .container {
        flex-direction: column;
        }
    
        .three{
        width: 72%;
        }
        .numb {
        margin-left: 25%;
        }
        #inp{
            margin-left: 10px;
        }
        .blue{
            width: 130%;
        }
        
         }




