.nav{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 19px 19px;
    text-align: center;
}
.BH{
    display: flex;
    background-color: #ffd600;
    
}

    
.BH h3{
    color:white;
    margin-right:25%;
    padding-left: 14px;
    
}
#cata{
    background-color: rgb(226, 220, 220);
    border-radius: 5px;
    padding: 10px;
    margin-left: -350%;
    margin-top: 16px;
    border: transparent;
    


}
#inp{
    border-radius: 5px;
    background-color: white;
    color: gainsboro;
    margin: 15px;
    height: 40px;
    width: 250px;
    margin-left: -100% ; 
    border: transparent;

}
.icons{
    margin-left: 30%;
    margin-top: 20px;
    
}
.icons i{
    padding: 10px;
    color: white;
}
#ht{
    margin: 10px;
}
#cart{
    margin: 10px;
}
#use{
    float: right;
    margin: 10px;
}
.SW{
   display: flex;
   justify-content: space-between;
   background-color: #252525
}
.SW img {
    width: 6%;
    height: fit-content;
    margin-right: 45%;
    padding: 10px;
}
.IP{
   display: flex; 
}
.IP i{
    padding: 5px;
    padding-top: 15px;
    color: white
}
.IP p{
    padding-left: 10px;
    color: white;
}
.sidebox p{
   color:#252525;
   font-family: Arial
}
.sidebox h3{
    font-family: Arial, Helvetica, sans-serif;
}
.sidebox{
    border:solid gainsboro;
    padding: 10px;
    padding-right: 70px;
    border-radius: 15px;
    margin-left: 40px;
    
}

.shop img{
    width: 50%;
}
.shop {
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
}
.games{
    margin-left: 10%;
}
.three{
    padding: 0px 40px;
}
.three button{
    border-radius: 15px;
    border: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E70062;
    width: 40px;
}
.three i{
    color: white;
    background-color: #ffd600;
    border-radius: 20px;
    padding: 2px;
    font-size: 10px;
}
#pink{
    color: #E70062;
    font-size: 15px;
}
#black{
    font-size: 15px;
}
.numb button{
border-radius: 30px;
padding: 15px;
border: thin;
}
#yel{
    color:#ffd600;
}
#yel1{
    background-color: #ffd600;
}
.numb{
    margin-left: 40%;
    padding: 20px;
    
}
.see{
    padding: 12px;
    color: white;
    background-color: #ffd600;
    border-radius: 5px;
    width: 15%;
    border: thin;
    margin-left:45% ;
    margin-top: 1%;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
.copy{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 40px;
}
.blue{
    background-color: #26004C;
    

}
.copy h2{
margin-left: -22%;
}
.copy i{
    margin-top: 2%;
}
.para{
    display: flex;
    margin-right: 37%;
    
}
.para p{
    padding: 20px;
}

@media screen and(max-device-width:650px){
.blue{
    height: fit-content;
    width: 100%;
}
.SW{
    width: max-content;
}
}
@media screen and(orientation:portrait) {
    .footer{
        width: 300px;
    }
    .games{
        width: 50%;
    }
    
}







