.nav{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 19px 19px;
    text-align: center;
}
.BH{
    display: flex;
    background-color: #ffd600;
    
}

    
.BH h3{
    color:white;
    margin-right:25%;
    padding-left: 14px;
    
}
#cata{
    background-color: rgb(226, 220, 220);
    border-radius: 5px;
    padding: 10px;
    margin-left: -350%;
    margin-top: 16px;
    border: transparent;
    


}
#inp{
    border-radius: 5px;
    background-color: white;
    color: gainsboro;
    margin: 15px;
    height: 40px;
    width: 250px;
    margin-left: -100% ; 
    border: transparent;

}
.icons{
    margin-left: 30%;
    margin-top: 20px;
    
}
.icons i{
    padding: 10px;
    color: white;
}
#ht{
    margin: 10px;
}
#cart{
    margin: 10px;
}
#use{
    float: right;
    margin: 10px;
}
.SW{
   display: flex;
   justify-content: space-between;
   background-color: white
}

.IP{
   display: flex; 
}
.IP i{
    padding: 5px;
    padding-top: 15px;
    color: gainsboro;
    
}
.IP p{
    padding-left: 10px;
    color: #252525
}
.container{
    display: flex;
}

#biglego{
width: 70%;
}
.stars i{
   color: #ffd600; 
}
#avi{
    color: rgb(38, 201, 152);
}
#plus{
    color: #ffd600;
}
#pluss{
    color: gainsboro;
}
#tobag{
    padding: 10px;
    width: 130px;
    color: white;
    background-color: #ffd600;
    border: transparent;
    border-radius: 5px;
}
#love{
    padding: 6px;
    color:white;
    border-radius: 20px;
    font-size: 20px;
    background-color: #ffd600;
}
#pick{
/* padding: 10px; */
color: #E70062;
/* border-radius: 10px ; */
/* background-color: #E70062; */
}
#nov{
color: red;
}
#map{
color: #ffd600;
}
#pinkk{
    border-radius: 5px;
    border: transparent;
    background-color: #E70062;
    padding: 3px;
    color: white;
}
.BIGLEGO{
    margin-left: 70px;
}
.WALKER{
    margin-right: 150px;
}
#yelb{
    padding: 12px;
    width: 130px;
    color: white;
    background-color: #ffd600;
    border: transparent;
    border-radius: 5px;
    margin: 10px;
}
#two{
    padding: 12px;
    width: 130px;
    color: white;
    background-color: gainsboro;
    border: transparent;
    border-radius: 5px;
    margin: 10px;
}
.three{
    margin-left: 35%;

}
.stmt{
    margin-left: 250px;
    padding: 40px;
    font-size: large;
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
  }
.Legowalk img{
    width: 20%;
    border:solid #ffd600;
    padding: 0px 70px;
    border-radius: 10px;
    margin: 10px;
}
.Legowalk{
    margin-left: 22%;
}
#walk3{
margin-left: 20%;
padding: 25px 70px;
}
#fun{
    color: #252525;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    text-align: center;
}

.shop img{
    width: 60%;
}
.shop {
    display: flex;
    justify-content: space-between;
    margin-right: 75%;
}
.three{
    /* padding: 0px 40px; */
}
.three button{
    border-radius: 15px;
    border: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E70062;
    width: 40px;
}
.three i{
    color: white;
    background-color: #ffd600;
    border-radius: 20px;
    padding: 2px;
    font-size: 10px;
}
#pink{
    color: #E70062;
    font-size: 15px;
}
#black{
    font-size: 15px;
}

.footer{
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
}
.copy{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 40px;
}
.blue{
    background-color: #26004C;
    

}
.copy h2{
margin-left: -22%;
}
.copy i{
    margin-top: 2%;
}
.para{
    display: flex;
    margin-right: 37%;
    
}
.para p{
    padding: 20px;
}

@media only screen and(max-width:700px) {
    body{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    
    }
   
    }
    /* Mobile Responsive CSS */
    @media only screen and (max-width: 767px) {
        .nav {
        flex-direction: column;
        margin-left: 0;
        background-color: whitesmoke;
        }
        .nav li {
        padding: 10px;
        }
        .BH{
            /* width: 136%; */
        }
        .BH h3 {
        margin-right: 0;
        }
        #cata {
        margin-left: 14px;
        }
        #inp {
        margin-left: 50px;
        }
        .icons {
        margin-left: -5px;
        display: grid;
        } 
        .IP i {
        padding: 10px;
        padding-top: 0;
        }
        .sidebox {
        margin-left: 0;
        }
        .stmt p{
        display:table-row;
        margin-left: 0;
        
        
        }
        .stmt{
            margin-left: -10%;
            width: 70%;
        }
        .shop img {
        width: 100%;
        
        }
        .shop{
            flex-direction: column;
        }
        .container {
        flex-direction: column;
        }
        
        .three {
        width: 0px;
        margin-left: 0;
        }
        #inp{
            width: 75px;
            padding-left: -60px;
        }
        .footer{
            display: grid;
        }
       .copy{
        flex-direction: column;
       }
       #fun{
        font-size: 15px;
        
        
       }
       .Legowalk{
        margin-left: 0;
       }
       #walk3{
        margin-left: 0;
        
       }
       .BIGLEGO{
        margin-left: 0;
       }
        }
       
        /* Tablet Responsive CSS */
        @media only screen and (min-width: 768px) and (max-width: 991px) {
        .nav li {
        padding: 12px;
        }
        .BH{
            width: 130%
        }
        .SW{
            width: 130%;
        }
        .BH h3 {
        margin-right: 15%;
        }
        #cata {
        margin-left: -200%;
        }
        #inp {
        margin-left: -100%;
        }
        .icons {
        margin-left: 15%;
        }
    
        .container {
        flex-direction: column;
        }
    
        .three{
        width: 72%;
        }
        .numb {
        margin-left: 25%;
        }
        #inp{
            margin-left: 10px;
        }
        .blue{
            width: 130%;
        }
        
         }


